* {
    margin: 0;
    padding: 0;
    font-family: roboto;
}
.header {
    background-color: #1f2937;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 200px;
}
.header a {
    color: #f9faf8;
    font-size: 18px;
    text-decoration: none;
}
.header ul {
    display: flex;
    gap: 20px;
}
.header {
    font-size: 24px;
    color: #f9faf8;
}
.hero {
    background-color: #1f2937;
    height: 400px;
}
.information {
    height: 400px;
}
.quote {
    background-color: #e5e7eb;
    height: 400px;
}
.cta {
    height: 400px;
}
.footer {
    background-color: #1f2937;
    height: 80px;
}