* {
    margin: 0;
    padding: 0;
    font-family: roboto;
}
.header {
    background-color: #1f2937;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 200px;
}
.header a {
    color: #f9faf8;
    font-size: 18px;
    text-decoration: none;
}
.header ul {
    display: flex;
    gap: 20px;
}
.header {
    font-size: 24px;
    color: #f9faf8;
}
.hero {
    background-color: #1f2937;
    height: 400px;
    display: flex;
    padding: 150px 200px;
}
.hero .left {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.hero .left {
    padding: 20px 0;
}
.hero .left h2 {
    font-size: 48px;
    color: #f9faf8;
}
.hero .left p {
    font-size: 18px;
    color: #e5e7eb;
}
.hero .left button {
    background-color: #3382f6;
    color: white;
    border: 0;
    border-radius: 8px;
    padding: 4px 10px;
    flex: 0 0 auto;
}
.hero .left button:hover {
    background-color: #1a74fa;
    color: white;
    border: 0;
    border-radius: 8px;
    padding: 4px 10px;
    flex: 0 0 auto;
}
.hero .left button:active {
    background-color: #3382f6;
    color: white;
    border: 0;
    border-radius: 8px;
    padding: 4px 10px;
    flex: 0 0 auto;
}
.hero .right {
    width: 50%;
}
.information {
    height: 400px;
    display: flex;
    flex-direction: column;
}
.information .top {
    height: 33%;
    justify-content: center;
    align-items: center;
    display: flex;
}
.information .top h2 {
    font-size: 36px;
    font-weight: bold;
    color: #1f2937;
}
.information .bottom {
    height: 100%;
    display: flex;
    justify-content: center;
    gap: 40px;
}
.information .bottom .necesities {
    height: 100%;
    width: 150px;
}
.quote {
    background-color: #e5e7eb;
    height: 400px;
    display: flex;
    flex-direction: column;
    padding: 80px 250px;
    justify-content: center;
}
.quote h2 {
    font-size: 36px;
    color: #1f2938;
    font-style: italic;
    font-weight: lighter;
}
.quote h3 {
    align-self: flex-end;
}
.cta {
    height: 400px;
}
.footer {
    background-color: #1f2937;
    height: 80px;
}